<% include ../partials/boilerplate %>

<h1>Syed's Todo List</h1>

<section>
  <div class="pageContent">
    <div>Welcome to your to-do list!</div>

    <div class="todoList">
      <ul>
        <% for (let item in todo){ %>
         <li>
           <a href="/todo/<%= todo[item].id %>">
            <p><%= todo[item].task %></p>
           </a>
           <p><%= todo[item].deadline %></p>
           <p><%= todo[item].location %></p>
           <p><%= todo[item].priority %></p>
           <p><%= todo[item].complete %></p>

          <form method="POST" action="/todo/<%= todo[item].id %>?_method=DELETE">
              <button type="submit">Remove</button>
          </form>

         </li>
        <% } %>
      </ul>
    </div>
  </div>

  <button class="add-button">
    <a href="/todo/add">Add Item</a>
  </button>


</section>


<% include ../partials/end %>
